<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:name=".HeartbeatHeavenApplication" android:allowBackup="true" android:icon="@drawable/heartbeat_heaven_logo" android:label="HEARTBEAT HEAVEN" android:roundIcon="@drawable/heartbeat_heaven_logo" android:supportsRtl="true" android:theme="@style/Theme.HeartbeatHeaven">
        <activity android:name=".StudioActivity" android:exported="false" />
        <activity android:name=".MusicStudioActivity" android:exported="false" />
        <activity android:name=".UsersAdminActivity" android:exported="false" />
        <activity android:name=".OwnerChatActivity" android:exported="false" />
        <activity android:name=".PasswordResetActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="heartbeatheaven" android:host="auth" android:pathPrefix="/reset" /></intent-filter></activity>
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
    </application>
</manifest>
